<footer class="tm-footer row tm-mt-small">
  <div class="col-12 font-weight-light">
    <p class="text-center text-white mb-0 px-4 small">
      Copyright &copy; <b>2024</b> All rights reserved. Design:
      <a rel="nofollow noopener" href="#" class="tm-footer-link">iCodeU</a>
    </p>
  </div>
</footer>
