<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title><%= title %></title>
<link rel="stylesheet" href="/css/fontawesome.min.css" />
<!-- https://fontawesome.com/ -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- https://getbootstrap.com/ -->
<link rel="stylesheet" href="/css/main-style.css" />
<link rel="stylesheet" href="/css/custom.css" />
<!-- style for all css -->
<link
  rel="stylesheet"
  href="/jquery-ui-datepicker/jquery-ui.min.css"
  type="text/css"
/>
<!-- http://api.jqueryui.com/datepicker/ -->
<script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js"></script>
<!-- ckeditor -->
