<div class="head-title">
  <div class="left">
    <h1><%= title %></h1>
    <ul class="breadcrumb">
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li><i class="bx bx-chevron-right"></i></li>
      <li>
        <a class="active" href="#"><%= title %></a>
      </li>
    </ul>
  </div>
</div>
