<script src="/js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="/js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script src="/js/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="/js/Chart.min.js"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="/js/tooplate-scripts.js"></script>

<script>
  // Function to remove an input field
  function removeInput(index) {
    const inputGroup = document.querySelector(`.d-flex[data-index='${index}']`);
    inputGroup.remove();
  }

  // Function to add a new input field
  document.getElementById('addButton').addEventListener('click', () => {
    const container = document.getElementById('containerInput');
    const index = container.children.length;
    const newInput = `
          <div class="d-flex" data-index="${index}">
              <input type="text" name="features[]" class="form-control">
              <button type="button" class="btn-remove-features" onclick="removeInput(${index})">-</button>
          </div>
      `;
    container.insertAdjacentHTML('beforeend', newInput);
  });

  // function to validation in select type
  document.getElementById('type').addEventListener('change', function () {
    if (this.value === 'single') {
      document.getElementById('price').required = true;
      document.getElementById('discount').required = true;
    } else {
      document.getElementById('price').required = false;
      document.getElementById('discount').required = false;
    }
  });

  // calculate price and discount
  document.getElementById('price').oninput = calculatePriceAndProduct;
  document.getElementById('discount').oninput = calculatePriceAndProduct;

  function calculatePriceAndProduct() {
    const price = parseFloat(document.getElementById('price').value) || 0;
    const discount = parseFloat(document.getElementById('discount').value) || 0;

    const discountedPrice = price * (discount / 100);

    const result = price - discountedPrice;

    document.getElementById('discountedPrice').value = result.toString();
  }
</script>

<script>
  Chart.defaults.global.defaultFontColor = 'white';
  let ctxLine,
    ctxBar,
    ctxPie,
    optionsLine,
    optionsBar,
    optionsPie,
    configLine,
    configBar,
    configPie,
    lineChart,
    barChart,
    pieChart;
  // DOM is ready
  $(function () {
    drawLineChart(); // Line Chart
    drawBarChart(); // Bar Chart
    drawPieChart(); // Pie Chart

    $(window).resize(function () {
      updateLineChart();
      updateBarChart();
    });
  });
</script>
