<!doctype html>
<html lang="en">
  <head>
    <%- include('../../layouts/head.ejs') %>
  </head>
  <body id="reportsPage">
    <div id="home">
      <%- include('../../layouts/navbar.ejs') %>
      <div class="container mt-big mb-big">
        <div class="row">
          <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="bg-primary-dark block block-h-auto">
              <div class="row">
                <div class="col-12">
                  <h2 class="block-title d-inline-block">Add User</h2>
                </div>
              </div>
              <div class="row">
                <form
                  action="/admin/users"
                  class="d-flex flex-wrap"
                  method="post"
                  enctype="multipart/form-data"
                >
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="form-group mb-3">
                      <label for="name">Name</label>
                      <input
                        id="name"
                        name="name"
                        type="text"
                        class="form-control validate"
                        required
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label for="email">Email</label>
                      <input
                        id="email"
                        name="email"
                        type="text"
                        class="form-control validate"
                        required
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label for="address">Address</label>
                      <input
                        id="address"
                        name="address"
                        type="text"
                        class="form-control validate"
                        required
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label for="phoneNumber">Phone Number</label>
                      <input
                        id="phoneNumber"
                        name="phoneNumber"
                        type="number"
                        class="form-control validate"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                    <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label for="password">Password</label>
                        <input
                          id="password"
                          name="password"
                          type="password"
                          class="form-control validate"
                          required
                        />
                      </div>
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label for="confirmPassword">Confirm Password</label>
                        <input
                          id="confirmPassword"
                          name="confirmPassword"
                          type="password"
                          class="form-control validate"
                        />
                      </div>
                    </div>
                    <div class="mb-3">
                      <!-- image dummy -->
                      <div class="product-img-dummy mx-auto" id="upload-icon">
                        <i
                          class="fas fa-cloud-upload-alt upload-icon"
                          onclick="document.getElementById('fileInput').click();"
                        ></i>
                      </div>
                      <!-- image preview -->
                      <div class="container-image" id="containerImage"></div>
                      <!-- image upload url -->
                      <input type="hidden" id="profilePicture" name="profilePicture" />
                      <!-- image upload button -->
                      <div class="custom-file mt-3 mb-3">
                        <input
                          id="fileInput"
                          type="file"
                          name="upload"
                          style="display: none"
                          onchange="uploadImage(event)"
                        />
                        <input
                          type="button"
                          class="btn btn-primary btn-block mx-auto"
                          value="UPLOAD USER IMAGE"
                          onclick="document.getElementById('fileInput').click();"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase"
                    >
                      Add User Now
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('../../layouts/footer.ejs') %>
    </div>

    <%- include('../../layouts/single-upload.ejs') %>
    
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
