@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
body {
  font-family: Poppins, "sans serif";
  overflow: auto;
}

:root {
  --main-bg-color: #415471;
  --main-text-color: #fff;
  --second-bg-color: #f1f5f9;
}

.primary-text {
  color: var(--main-text-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  position: fixed;
  width: 300px;
  background: var(--main-bg-color);
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
  transition: margin 0.3s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 300px;
}

#page-content-wrapper {
  min-width: 100vw;
  margin-left: 300px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
  transition: margin 0.3s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -300px;
}
#wrapper.toggled #page-content-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 18px 30px;
  color: var(--main-text-color);
  font-size: 15px;
  background-color: var(--main-bg-color);
}

.navGroup:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  border: 2px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 30px 0px 0px 30px;
}

@media screen and (min-width: 100px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}
@media screen and (min-width: 100px) {
  .overflow-x {
    overflow-x: scroll;
  }
  .overflow-x::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  .overflow-x::-webkit-scrollbar-thumb {
    background-color: var(--main-bg-color);
  }
  .overflow-x::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}
#extend {
  color: red;
  font-size: 15px;
}

.kelas {
  color: var(--main-bg-color);
}
#navbarDropdown {
  font-size: 15px;
}
.tambah {
  margin-bottom: 3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.cardss {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: none;
}

.card-title {
  color: var(--main-text-color);
  height: 30px;
  font-weight: bolder;
  font-size: 30px;
}
.button {
  width: 100%;
  border: none;
  padding: none;
}
.ftr {
  background: #6f7788;
  display: flex;
  font-size: 18px;
}
